<!DOCTYPE html>
<html>
  <head>
    <title>US College search</title>
  </head>
  <body>
    <form action='/colleges' method='get'>
      <h2>US College search</h2>
      <label for="collegeName">College Name:</label>
      <input type="text" id="college_name" name="college_name"><br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
